<div class="content">
    <div class="container-fluid  pt-4 pb-4">
        <div class="row ">
            <div class="col-md-12">
                <div class="card mt-3" style="min-height:200px;">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách sản phẩm đã đặt</h3>
                    </div>
                    <div class="card-body">
                        <div id="table_list_orders"></div>
                    </div>
                </div>
            </div>
           
            <div class="col-md-7">
                <div class="card mt-3"  style="min-height:300px;" >
                    <div class="card-header">
                        <h3 class="card-title">Thông tin khách hàng</h3>
                    </div>
                    <div class="card-body">
                        <div id="info_orders"></div>
                    </div>  
                </div>
            </div>
            <div class="col-md-5">
                <div class="card mt-3"  style="min-height:300px;" >
                    <div class="card-header">
                        <h3 class="card-title">Tổng giá trị đơn hàng</h3>
                    </div>
                    <div class="card-body">
                        <div id="total_price_orders"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="#" class="btn-hover color-9 btn-block p-3 p-3 link_reload">Tiếp tục mua hàng</a>
                            </div>
                            <div class="col-md-4">
                                <a href="#cart_list" class="btn-hover color-7 btn-block p-3 p-3 link_reload" >Qua giỏ hàng</a>
                            </div>
                            <div class="col-md-4">
                                <button id="complete_orders" class="btn-hover color-5 btn-block p-3 p-3"> Hoàn tất đơn hàng</button>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
       
    </div>
</div>
<!-- <div class="loading_fullpage" id="loading_fullpage">Loading&#8230;</div> -->
