<div class="content">
    <div class="container-fluid pt-3 pb-3">
        <div class="card p-3">
            <div class="row">
               <div class="col-md-6">
                    <div class="card mb-3"  id="example?Exercise1">
                        <div class="card-header">
                            <h3 class="card-title">Exercise  1: Get API GetUOMListForComboBox</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-striped ">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>name</th>
                                        <th>code</th>
                                    </tr>
                                </thead>
                                <tbody id="table_api_test">
                                    <tr>
                                        <td colspan="3" class="text-center">Đang tải dữ liệu ....</td>                                
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
               </div>
               <div class="col-md-6">
                 <div class="card mb-3"  id="example?Exercise3">
                        <div class="card-header">
                            <h3 class="card-title">Exercise  3: Get Api GetUnitOfMeasureName</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-striped ">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>name</th>
                                        <th>code</th>
                                    </tr>
                                </thead>
                                <tbody id="table_api_test3">
                                    <tr>
                                        <td colspan="3" class="text-center">Đang tải dữ liệu ....</td>                                
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-header"  id="example?Exercise4">
                            <h3 class="card-title">Exercise  4: Get Api AR_Transaction/GetReasonCodeByReceiveType</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-striped ">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>name</th>
                                        <th>code</th>
                                    </tr>
                                </thead>
                                <tbody id="table_api_test4">
                                    <tr>
                                        <td colspan="3" class="text-center">Đang tải dữ liệu ....</td>                                
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3" style="min-height:357px"  id="example?Exercise5">
                        <div class="card-header">
                            <h3 class="card-title">Exercise  5: Get Api https://www.javascripttutorial.net/sample/promise/api.json</h3>
                        </div>
                        <div class="card-body">
                            <button id="btnGet" class="btn-hover color-6">Get Message</button>
                            <div id="Message"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card mb-3"  id="example?Exercise6">
                        <div class="card-header">
                            <h3 class="card-title">Exercise  6: Get Api https://jsonplaceholder.typicode.com/users</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-striped ">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>name</th>
                                        <th>username</th>
                                        <th>email</th>
                                        <th>username</th>
                                        <th>website</th>
                                        <th>company</th>
                                        <th>address</th>
                                    </tr>
                                </thead>
                                <tbody id="table_api_test6">
                                    <tr>
                                        <td colspan="8" class="text-center">Đang tải dữ liệu ....</td>                                
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"  id="example?Exercise7">
                    <div class="card mb-3"  style="min-height:383px">
                        <div class="card-header">
                            <h3 class="card-title">Exercise  7: Run 0 -> 100 <button id="reset_example_7" class="btn-hover color-6">Reset</button></h3>
                        </div>
                        <div class="card-body">
                            <div id="id_example_7"></div>
                        </div>
                    </div>
                </div> 
                <div class="col-md-6">
                    <div class="card mb-3"  id="example?Exercise8">
                        <div class="card-header">
                            <h3 class="card-title">Exercise  8: format date</h3>
                        </div>
                        <div class="card-body">
                            <p>Format dd/mm/yyyy hh:ii:ss :<span class="font-weight-bold" id="format_date_ddmmyyyyhhiiss"></span></p>
                            <p>Format mm/dd/yyyy hh:ii:ss :<span class="font-weight-bold" id="format_date_mmddyyyyhhiiss"></span></p>
                            <p>Format yyyy/mm/dd hh:ii:ss :<span class="font-weight-bold" id="format_date_yyyymmddhhiiss"></span></p>
                            <p>Format dd/mm/yyyy hh:ii :<span class="font-weight-bold" id="format_date_ddmmyyyyhhii"></span></p>
                            <p>Format mm/dd/yyyy hh:ii :<span class="font-weight-bold" id="format_date_mmddyyyyhhii"></span></p>
                            <p>Format dd/mm/yyyy :<span class="font-weight-bold" id="format_date_ddmmyyyy"></span></p>
                            <p>Format mm/dd/yyyy : <span class="font-weight-bold" id="format_date_mmddyyyy"></span></p>
                            <p>Format day :<span class="font-weight-bold" id="format_date_day"></span></p>
                            <p>Format month :<span class="font-weight-bold" id="format_date_month"></span></p>
                            <p>Format year : <span class="font-weight-bold" id="format_date_year"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"  id="example?Exercise9">
                    <div class="card mb-3" style="min-height:172px;">
                        <div class="card-header">
                            <h3 class="card-title">Exercise  9: Format numbers as currency strings</h3>
                        </div>
                        <div class="card-body">
                            <p>Format Vi : <span class="font-weight-bold" id="format_number_vi"></span></p>
                            <p>Format En : <span class="font-weight-bold" id="format_number_en"></span></p>
                        </div>
                    </div>
                </div> 
                <div class="col-md-6">
                    <div class="card mb-3"  id="example?Exercise10">
                        <div class="card-header">
                            <h3 class="card-title">Exercise  10: Sort</h3>
                        </div>
                        <div class="card-body">
                            <p>arr: <span id="arr_order"></span></p>
                            <p>Ascending Order: <span id="ascending_order"></span></p>
                            <p>Descending Order: <span id="descending_order"></span></p>
                        </div>
                    </div>
                </div> 
                <div class="col-md-6">
                    <div class="card mb-3"  id="example?Exercise11">
                        <div class="card-header">
                            <h3 class="card-title">Exercise  11: Check input</h3>
                            <div id="alert_error_total"></div>
                        </div>
                        <div class="card-body">
                            <div id="alert_error_total"></div>
                            <div class="row mb-3">
                                <label class="col-md-2 font-weight-bold mt-2" for="check_empty">Check Empty</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="check_empty" name="check_empty">
                                        <div class="input-group-prepend" style="cursor: pointer;" id="btn_check_empty">
                                            <span class="input-group-text" >check</span>
                                        </div>
                                    </div>
                                    <small class="text-danger error_item" id="check_empty_error"></small>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-md-2 font-weight-bold mt-2" for="check_number">Check Number</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="check_number" name="check_number">
                                        <div class="input-group-prepend" style="cursor: pointer;" id="btn_check_number">
                                            <span class="input-group-text" >check</span>
                                        </div>
                                    </div>
                                    <small class="text-danger error_item" id="check_number_error"></small>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-md-2 font-weight-bold mt-2" for="check_email">Check Email</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="check_email" name="check_empty">
                                        <div class="input-group-prepend" style="cursor: pointer;" id="btn_check_email">
                                            <span class="input-group-text" >check</span>
                                        </div>
                                    </div>
                                    <small class="text-danger error_item" id="check_email_error"></small>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-md-2 font-weight-bold mt-2" for="check_date_ddmmyy">Check Date(dd/MM/yyyy)</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="check_date_ddmmyy" name="check_date_ddmmyy">
                                        <div class="input-group-prepend" style="cursor: pointer;" id="btn_check_date_ddmmyy">
                                            <span class="input-group-text" >check</span>
                                        </div>
                                    </div>
                                    <small class="text-danger error_item" id="check_date_ddmmyy_error"></small>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-md-2 font-weight-bold mt-2" for="check_date_mmddyy">Check Date(MM/dd/yyyy)</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="check_date_mmddyy" name="check_date_mmddyy">
                                        <div class="input-group-prepend" style="cursor: pointer;" id="btn_check_date_mmddyy">
                                            <span class="input-group-text" >check</span>
                                        </div>
                                    </div>
                                    <small class="text-danger error_item" id="check_date_mmddyy_error"></small>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-md-2 font-weight-bold mt-2" for="check_date_hhii">Check Date(hh:ii)</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="check_date_hhii" name="check_date_hhii">
                                        <div class="input-group-prepend" style="cursor: pointer;" id="btn_check_date_hhii">
                                            <span class="input-group-text" >check</span>
                                        </div>
                                    </div>
                                    <small class="text-danger error_item" id="check_date_hhii_error"></small>
                                </div>
                            </div>
                            <hr/>
                            <div class="form-group">
                                <label for="">Enter currency</label>
                                <input class="form-control money_vi" />
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="col-md-6">  
                    <div class="card mb-3"  style="min-height:523px"  id="example?Exercise12">
                        <div class="card-header">
                            <h3 class="card-title">Exercise  12: Checking Numbers</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="number_check">Enter number and array random (Example: 3 or 1,2,3,4,5)</label>
                                <input type="text" name="number_check" id="number_check" class="form-control" placeholder="Enter number and array" >
                                <small class="text-danger error_item" id="number_check_error"></small>
                            </div>
                            <button class="btn btn-primary" id="btn_check_prime">Check Prime</button>
                            <button class="btn btn-primary" id="btn_check_perfect">Check perfect</button>
                            <button class="btn btn-primary" id="btn_check_odd">Check even/odd</button>
                            <button class="btn btn-primary" id="btn_ascending_order">Ascending Order</button>
                            <button class="btn btn-primary" id="btn_descending_order">Descending Order</button>
                            <div id="div_result_check_number" class="border p-2 mt-3" style="min-height:100px ;" ></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3" style="min-height:621px"  id="example?Exercise13">
                        <div class="card-header">
                            <h3 class="card-title">Exercise  13: Clock</h3>
                        </div>
                        <div class="card-body">
                            <div class="wrapper_clock">
                                <p><span id="seconds">00</span>:<span id="tens">00</span></p>
                                <button class="btn-hover color-1"  id="button-start">Start</button>
                                <button class="btn-hover color-1" id="button-stop">Stop</button>
                                <button class="btn-hover color-1" id="button-reset">Reset</button>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3"  id="example?Exercise14">
                        <div class="card-header">
                            <h3 class="card-title">Exercise  14: calc </h3>
                        </div>
                        <div class="card-body bg-dark" >
                            <div class="main-wrapper">
                                <div id="op-history-container" class="hide"></div>
                                <div class="inputs-wrapper">
                                    <i class="fas fa-history" id="toggle-history"></i>
                                    <input class="input_calc" type="text" id="input-top">
                                    <input class="input_calc" type="text" id="input-bottom" placeholder="0">
                                </div>
                                <div class="gradient-divider"></div>
                                <div class="row_calc">
                                    <div data-set="7" class="num">7</div>
                                    <div data-set="8" class="num">8</div>
                                    <div data-set="9" class="num">9</div>
                                    <div data-set="/" class="op">÷</div>
                                </div>
                                <div class="row_calc">
                                    <div data-set="4" class="num">4</div>
                                    <div data-set="5" class="num">5</div>
                                    <div data-set="6" class="num">6</div>
                                    <div data-set="*" class="op">x</div>
                                </div>
                                <div class="row_calc">
                                    <div data-set="1" class="num">1</div>
                                    <div data-set="2" class="num">2</div>
                                    <div data-set="3" class="num">3</div>
                                    <div data-set="-" class="op">-</div>
                                </div>
                                <div class="row_calc">
                                    <div class="num" id="reset">C</div>
                                    <div data-set="0" class="num">0</div>
                                    <div data-set="." class="num">.</div>
                                    <div data-set="+" class="op">+</div>
                                </div>
                                <div class="row_calc">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div id="equal" data-set="=">=</div>
                                </div>
                               
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card mb-3"  id="example?Exercise15">
                        <div class="card-header">
                            <h3 class="card-title">Exercise  15: clock </h3>
                        </div>
                        <div class="card-body" >
                            <div class="div_clock_main">
                                <div class="container_clock">
                                    <div class="date">
                                        <div><p class="day">00</p><p>Day</p></div>
                                        <div><p class="month">00</p><p>Month</p></div>
                                        <div><p class="year">00</p><p>Year</p></div>
                                    </div>
                                    <div class="clock">
                                        <div><p class="hours">00</p><p>Hours</p></div>
                                        <div><p class="minutes">00</p><p>Minutes</p></div>
                                        <div><p class="seconds">00</p><p>Seconds</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card mb-3"  id="example?Exercise16">
                        <div class="card-header">
                            <h3 class="card-title">Exercise  16: TIC and toe  </h3>
                        </div>
                        <div class="card-body" >
                           <div onLoad="Loaded()" id="bgr">
                                <div id = "divmain" style="display:none;">
                                    <table id="table_caro">
                                    </table>
                                </div>
                                <div style="height:150px;" id="temp_caro"></div>
                                <div>
                                    <div id="divcontrol_start">
                                        <h1 class="text-center pt-5">Game Caro</h1>
                                        <input type="button" class="button_caro" value="PLAYER VS PLAYER" onClick="PvsP()"/>
                                        <input type="button" class="button_caro" value="PLAYER VS COMPUTER" onClick="PvsM()"/>
                                    </div>
                                </div>
                            
                                <div id="divcontrol" style="display:none;">
                                    <div id="label1"><b>CURENT PLAYER:</b></div>
                                    <div id="imgPlayer"></div>
                                    <br/>
                                    <div id="label2"><input type="checkbox" id="chbtime" onClick="TimeReturn()"/><b> TIME:</b></div>
                                    <progress id = "pgrTime" max="100" value="100"></progress>
                                    <time ></time>
                                    <br/>
                                    <div id="notifi_caro" class="p-2"></div>
                                    <input type="button" class="button_caro" value="Reset" onClick="Reset_Caro()" /><br/>
                                    <input type="button" class="button_caro" value="UNDO" onClick="Undo(2)"/><br/>
                                    <input type="button" class="button_caro"  value="Back" onClick="Back_Caro()" /><br/>
                                    <div id="divcheckbox">
                                    <!-- <input type="checkbox" id="chbmode" onClick="ChooseMode()"/>
                                    <b>Block both sides</b> -->
                                    </div>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card mb-3" style="min-height:400px ;"  id="example?Exercise17">
                        <div class="card-header">
                            <h3 class="card-title">Exercise  17: Eye </h3>
                        </div>
                        <div class="card-body">
                            <div class="eye_mouse" >
                                <div class="container_eye">
                                    <div class="img">
                                        <img class="img_eye" src="https://imgur.com/eymjZ3y.png" alt="">
                                        <!-- <img class="img_eye" src="../assets/img/1-Users-icon.png" alt="">  -->
                                        
                                    </div>
                                    <div class="eyes">
                                        <div class="eye">
                                            <div class="inside"></div>
                                        </div>
                                        <div class="eye">
                                            <div class="inside"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card mb-3"  id="example?Exercise18">
                        <div class="card-header">
                            <h3 class="card-title">Exercise 18: </h3>
                        </div>
                        <div class="card-body">
                            <div id="cherry_blossom" style="background-image:url('./assets/img/background.jpg') ;">
                                <img src="../assets/img/bg.png" style="width: 100%;" alt="Hoa đào rơi">
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card mb-3"  id="example?Exercise19">
                        <div class="card-header">
                            <h3 class="card-title">Exercise 19: Chart</h3>
                        </div>
                        <div class="card-body">
                            <div class="row" id="body_chart">
                                <div class="col-md-6">
                                    <div style="width:50%;">
                                        <canvas class="canvas_chart" id="bar-chart" width="300" height="300"></canvas>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="width:50%;">
                                        <canvas  class="canvas_chart" id="line-chart" width="300" height="300"></canvas>
                                    </div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-6">
                                    <div style="width:50%;">
                                        <canvas class="canvas_chart" id="pie-chart" width="300" height="300"></canvas>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="width:50%;">
                                        <canvas class="canvas_chart" id="radar-chart" width="300" height="300"></canvas>
                                    </div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-6">
                                    <div style="width:50%;">
                                        <canvas class="canvas_chart" id="doughnut-chart" width="300" height="300"></canvas>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="width:50%;">
                                        <canvas class="canvas_chart" id="bar-chart-grouped" width="300" height="300"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3"  id="example?Exercise20" style="min-height:486px">
                        <div class="card-header">
                            <h3 class="card-title">Exercise 20: Compare Two Image</h3>
                        </div>
                        <div class="card-body">
                            <div class="compare-two-image">
                                <div class="img-comp-container">
                                    <div class="img-comp-img">
                                      <img src="https://www.w3schools.com/howto/img_forest.jpg" width="300" height="200">
                                    </div>
                                    <div class="img-comp-img img-comp-overlay">
                                      <img src="https://www.w3schools.com/howto/img_snow.jpg" width="300" height="200">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3" id="example?Exercise21">
                        <div class="card-header">
                            <h3 class="card-title">Exercise 21: Image Magnifier Glass</h3>
                        </div>
                        <div class="card-body">
                            <div class="magnifier-container">
                                <div class="img-magnifier-container">
                                    <img id="image-zoom-magnifier" src="https://www.w3schools.com/howto/img_girl.jpg" width="600" height="400">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3" id="example?Exercise22">
                        <div class="card-header">
                            <h3 class="card-title">Exercise 22: Light</h3>
                        </div>
                        <div class="card-body">
                            <button class="btn btn-primary" onclick="document.getElementById('image_light').src='https://www.w3schools.com/js/pic_bulbon.gif'">Turn on the light</button>
                            <img id="image_light" src="https://www.w3schools.com/js/pic_bulboff.gif" style="width:100px">
                            <button  class="btn btn-primary" onclick="document.getElementById('image_light').src='https://www.w3schools.com/js/pic_bulboff.gif'">Turn off the light</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" >
                    <div class="card mb-3" style="min-height: 265px;" id="example?Exercise23">
                        <div class="card-header">
                            <h3 class="card-title">Exercise 23 : Tree View</h3>
                        </div>
                        <div class="card-body">
                            <div class="tree-view">
                                <ul class="myUL">
                                    <li><span class="caret">Beverages</span>
                                      <ul class="nested">
                                        <li>Water</li>
                                        <li>Coffee</li>
                                        <li><span class="caret">Tea</span>
                                          <ul class="nested">
                                            <li>Black Tea</li>
                                            <li>White Tea</li>
                                            <li><span class="caret">Green Tea</span>
                                              <ul class="nested">
                                                <li>Sencha</li>
                                                <li>Gyokuro</li>
                                                <li>Matcha</li>
                                                <li>Pi Lo Chun</li>
                                              </ul>
                                            </li>
                                          </ul>
                                        </li>  
                                      </ul>
                                    </li>
                                </ul>
                                <ul class="myUL">
                                    <li><span class="caret">Beverages</span>
                                      <ul class="nested">
                                        <li>Water</li>
                                        <li>Coffee</li>
                                        <li><span class="caret">Tea</span>
                                          <ul class="nested">
                                            <li>Black Tea</li>
                                            <li>White Tea</li>
                                            <li><span class="caret">Green Tea</span>
                                              <ul class="nested">
                                                <li>Sencha</li>
                                                <li>Gyokuro</li>
                                                <li>Matcha</li>
                                                <li>Pi Lo Chun</li>
                                              </ul>
                                            </li>
                                          </ul>
                                        </li>  
                                      </ul>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6" >
                    <div class="card mb-3" style="min-height: 265px;" id="example?Exercise24">
                        <div class="card-header">
                            <h3 class="card-title">Exercise 24 : </h3>
                        </div>
                        <div class="card-body">
                           
                        </div>
                    </div>
                </div>
           </div>
        </div>
        
    </div>
</div>
<div class="menu_example">
    <button class="btn_menu_example_fixed btn btn-primary rounded-circle" ><i class="fa fa-bars"></i> </button>
    <div class="menu_example_fixed">
        <ul>
            <li><a href="#example?Exercise1">Exercise 1: Get API GetUOMListForComboBox</a></li>
            <li><a href="#example?Exercise3">Exercise 3: Get Api GetUnitOfMeasureName</a></li>
            <li><a href="#example?Exercise4">Exercise 4: Get Api AR_Transaction/GetReasonCodeByReceiveType</a></li>
            <li><a href="#example?Exercise5">Exercise 5: Get Api https://www.javascripttutorial.net/sample/promise/api.json</a></li>
            <li><a href="#example?Exercise6">Exercise 6: Get Api https://jsonplaceholder.typicode.com/users</a></li>
            <li><a href="#example?Exercise7">Exercise 7: Run 0 -> 100</a></li>
            <li><a href="#example?Exercise8">Exercise 8: format date</a></li>
            <li><a href="#example?Exercise9">Exercise 9: Format numbers as currency strings</a></li>
            <li><a href="#example?Exercise10">Exercise 10: Sort</a></li>
            <li><a href="#example?Exercise11">Exercise 11: Check input</a></li>
            <li><a href="#example?Exercise12">Exercise 12: Checking Numbers</a></li>
            <li><a href="#example?Exercise13">Exercise 13: Clock</a></li>
            <li><a href="#example?Exercise14">Exercise 14: calc</a></li>
            <li><a href="#example?Exercise15">Exercise 15: clock</a></li>
            <li><a href="#example?Exercise16">Exercise 16: TIC and toe</a></li>
            <li><a href="#example?Exercise17">Exercise 17: Eye</a></li>
            <li><a href="#example?Exercise18">Exercise 18:</a></li>
            <li><a href="#example?Exercise19">Exercise 19: Chart</a></li>
            <li><a href="#example?Exercise20">Exercise 20: Compare Two Image</a></li>
            <li><a href="#example?Exercise21">Exercise 21: Image Magnifier Glass</a></li>
            <li><a href="#example?Exercise22">Exercise 22: Light</a></li>
            <li><a href="#example?Exercise23">Exercise 23: Tree View</a></li>
            <li><a href="#example?Exercise24">Exercise 24:</a></li>
        </ul>
    </div>
</div>